.registration {
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.registration__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.registration__form-label {
  margin-block: 8px;
}

.registration__form-button {
  margin-top: 10px;
  border-style: none;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
  background-color: var(--green-500);
  color: var(--white);
}

.registration__paragraph {
  font-size: 24px;
  font-weight: bold;
}

.registration__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-block: 8px;
  margin-block: 8px;
}

.registration__call-to-action {
  padding-bottom: 24px;
}

.registration__divider {
  width: 100%;
  margin-block: 16px;
}
