.registration {
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.registration__content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
