.registration {
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-pokemon__input-name {
  height: 50px;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 0 24px;
  margin-bottom: 10px;
}
